#A {
  background-color: bisque;
}

#B {
  background-color: rgb(221, 187, 125);
}

#C {
  background-color: orange;

}

#D {
  background-color: orangered;
  
}

#E {
  background-color: red;
  
}

#F {
  background-color: brown;
  
}

#G {
  background-color: tan;
  
}

#H {
  background-color: rgb(114, 77, 9);
  
}

#I {
  background-color: rgb(80, 59, 20);
  
}
